.container {
  background: linear-gradient(60deg, green, lightyellow);
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: x-large;


  border: 1px black solid;
  border-radius: 10px;
  color: darkblue;
}