body {
    margin: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    background: linear-gradient(60deg, yellow, lightgreen);
    border: 1px solid black;
    border-radius: 15px;
    color: blue;
}