body {
    margin: 0;
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    background: linear-gradient(60deg, yellow, lightgreen);
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
    color: blue;
    margin: 10px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background: linear-gradient(60deg, yellow, lightgreen);
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
    color: blue;
    margin: 10px;
}
.button {
    width: 100px;
    background: linear-gradient(to right, darkblue, lightblue);
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}
.set {width: 10%;
    background: linear-gradient(to right, darkblue, lightblue);
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;}