.container{
  background: linear-gradient(60deg, yellow, lightgreen);
  padding-left: 50px;
  margin-bottom: 20px;

  border: 1px black solid;
  border-radius: 10px;
  h2{
    color: blue;
    font-family:Corbel;
  }
}
