button {
    width: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,255,0.4);
    margin: 7px;
    outline: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button a[class='active'] {
    color: gold;
}

.star {
    color: gold;
    font-size: xx-large;
}
.star_rating {
    color: white;
}